<?xml version="1.0" encoding="UTF-8"?>
<beans default-lazy-init="true" xmlns="http://www.springframework.org/schema/beans" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context" 
    xmlns:aop="http://www.springframework.org/schema/aop" 
    xmlns:util="http://www.springframework.org/schema/util"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
                        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd
                        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">    

	<import resource="classpath:/META-INF/applicationContext-buddies-system-applevel.xml"/>
	<bean id="socialNetworkExplorer" class="gamesys.poker.buddies.integration.test.fakes.FakeSocialNetwork" />
	<bean id="eventDispatcher" class="gamesys.poker.buddies.integration.test.fakes.FakeEventDispatcher" />
	<bean id="playerIdResolver" class="gamesys.poker.buddies.integration.test.fakes.FakePlayerIdResolver"/>
	<bean id="pokerEnhancedSocialNetworkExplorer" class="gamesys.poker.buddies.integration.test.fakes.FakePokerEnhancedSocialNetworkExplorer">
	   <constructor-arg name="fakeSocialNetwork" ref="socialNetworkExplorer"/>
	</bean>
	<bean id="inMemoryOnlinePlayerStore" class="gamesys.poker.buddies.infrastructure.persistence.InMemoryOnlinePlayerStore" primary="true" />
    <!-- 
	<import resource="classpath:/META-INF/applicationContext-buddies-system-hazelcast.xml"/>
	 -->
</beans>